@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
  
}
.body{
    
    background-image: url(DOWNLOAD-BG.jpg);
    background-attachment: fixed;
    background-size: cover;
    

   
}  
.navbar{
    display: block;
    padding: 35px 0;
    align-items: left;
    justify-content: space-between;

}
.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-section{
    margin-left: 50px;
}
.logo{
    width: 120px;
    background-color: #fff;
    cursor: pointer;
}
.middle-section{
    padding-left: 100px;
    min-width: 550px;
   
}
.navbar ul li{
    list-style: none;
    font-size: 15px;
    font-weight: 400;
    display:inline-block;
    margin: 0 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    align-items: right;   
}
.language-logo{
    display: inline;
    color: white;
    width:  19px;
    height: 19px;
    cursor: pointer;
}
.sub-menu{
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
    width: auto;
    visibility: visible;
    background: transparent;
    padding: 0;
    display: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}
.right-section{
  padding-right: 50px;
  min-width: 330px;
}

.button-1{
    background-color: rgb(219, 74, 57);
    color: white;
    font-weight: 600;
    border: none;
    padding:10px 16px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: top;
    padding-left: 30px;   
}
.button-2{
    background-color: rgb(210, 142, 11);
    color: white;
    font-weight: 600;
    border: none;
    padding:10px 35px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: top;
    margin-left: 50px;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content-1{
    color: #fff;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    text-align: left;
}
.paragraph-1{
    
    visibility: visible;
    animation-delay: 0.3s;
    line-height: 75px;
    font-weight: 700;
    font-size: 60px;
    padding-top: 100px
}
.paragraph-2{
   font-size: 18px;
   padding-top: 20px

}
.paragraph-3{
   font-size: 18px;
   padding-top: 80px;
}
.content-2{
    visibility: visible;
    animation-name: pixZoomIn;
    animation-name: jump;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 2s;
}
.phones-image{
    max-width: 100%;
    height: auto;
    position: relative;
    animation:bounce 1s linear 2s infinite alternate;
}
@keyframes bounce{
    0%{top:0px;} 
    100%{top: 30px;}
}
.play-app{
    padding-top: 30px;
    padding-bottom: 300px;
    display: flex;
 
}
.play-store{
    padding-left: 60px;
    cursor: pointer;
}
.app-store{
    padding-left: 40px;
    cursor: pointer;
}

    
